*{
  margin: 0;
  padding: 0;
  <!-- background-color: #000000; -->
  box-sizing: border-box;
  line-height: 1.3;
  font-family: 'Montserrat', 'Poppins', 'Ubuntu', sans-serif;
}
ul{
  margin: 0;
  padding: 0;
  list-style: none;
}
a{
  text-decoration: none;
}
p{
  line-height: 160%;
  color: #ecd028;
  font-weight: 400;
  font-size: 14px;
}
h1, h2{
  text-transform: capitalize;
  margin-bottom: 25px;
  color: #ecd028;
  font-size: 60px;
  font-weight: 700;
  line-height: 60px;
}
h3{
  margin-bottom: 13px;
  font-weight: 900;
  font-size: 23px;
  color: #ecd028;
}
input:focus{
  outline: none;
}
.img-fluid{
  width: 100%;
}
.custom-padding{
  padding: 100px 0;
}
.container{
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
}
.d-grid{
  display: grid;
}
.d-flex{
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header{
  height: 83px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 3;
  background: #000000;
  transition: all .4s ease-in-out;
}
header.fixed{
  height: 68px;
  box-shadow: 0 20px 40px rgba(255,165,0,0.8);
}
header.fixed nav{
  height: 68px;
  padding: 15px 0;
}
.logo{
  font-weight: 900;
  font-size: 20px;
  color: #ecd028;
  font-style: italic;
  text-transform: uppercase;
}
nav{
  padding: 30px 0;
  height: 82px;
  width: 100%;
  transition: all .4s ease-in-out;
}
.navigation-bar ul li{
  display: inline-block;
  position: relative;
  margin: 0 25px;
}
.navigation-bar ul li:last-child{
  margin-right: 0;
}
.navigation-bar ul li a{
  position: relative;
  font-size: 16px;
  color: #ecd028;
  font-weight: 400;
  text-transform: capitalize;
  transition: all 0.4s ease-in-out;
}
.navigation-bar ul li a:hover,
.navigation-bar ul li.active a{
  color: #ffffff;
}
.burger{
  width: 25px;
  cursor: pointer;
  display: none;
}
.burger span{
  display: block;
  background-color: #ffffff;
  width: 100px;
  height: 3px;
  margin-bottom: 4px;
  border-radius: 10px;
  transition: margin-bottom 0.4s ease-in-out;
}
.burger span:last-child{
  margin-bottom: 0;
}
.burger:hover span{
  margin-bottom: 5px;
}
@media (min-width: 991px){
  .navigation-bar{
    display: block !important;
  }
}
@media (max-width: 990px){
  .burger{
    display: block;
    position: absolute;
    right: 20px;
  }
  .navigation-bar{
    display: none;
    text-align: center;
    position: absolute;
    left: 0;
    top: 68px;
    width: 100%;
    background-color: #ffffff;
    padding: 20px 0;
    z-index: 2;
  }
  .navigation-bar ul li{
    display: block;
    margin: 15px 0;
  }
  .navigation-bar ul li{
    color: #ffffff;
  }
}
